################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AVINYALIB/.vs/AVINYALIB/FileContentIndex/31320de4-f5b8-4f2d-9cfe-b8d8a477d5db.vsidx
/AVINYALIB/.vs/AVINYALIB/FileContentIndex/9ec367e6-f667-482d-8c9f-402c8a667eef.vsidx
/AVINYALIB/.vs/AVINYALIB/FileContentIndex/ce175414-9528-43f8-93cb-0dbabc43b6d0.vsidx
/AVINYALIB/.vs/AVINYALIB/FileContentIndex/d9276b27-fd34-4e7c-ae17-196db5828b2f.vsidx
/AVINYALIB/.vs/AVINYALIB/FileContentIndex/dc34131c-ae7e-4375-97dd-27af30df26b5.vsidx
