################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AVINYALIB/.vs/AVINYALIB/FileContentIndex/31320de4-f5b8-4f2d-9cfe-b8d8a477d5db.vsidx
/AVINYALIB/.vs/AVINYALIB/FileContentIndex/9ec367e6-f667-482d-8c9f-402c8a667eef.vsidx
/AVINYALIB/.vs/AVINYALIB/FileContentIndex/ce175414-9528-43f8-93cb-0dbabc43b6d0.vsidx
/AVINYALIB/.vs/AVINYALIB/FileContentIndex/d9276b27-fd34-4e7c-ae17-196db5828b2f.vsidx
/AVINYALIB/.vs/AVINYALIB/FileContentIndex/dc34131c-ae7e-4375-97dd-27af30df26b5.vsidx
/AVINYALIB/.vs/AVINYALIB/FileContentIndex/21f67b11-3648-4767-b92f-89a73eeec8ca.vsidx
/AVINYALIB/.vs/AVINYALIB/FileContentIndex/2eeb9dee-5267-455a-906c-0e80d8c35adc.vsidx
/AVINYALIB/.vs/AVINYALIB/FileContentIndex/49978263-51d4-4bb2-b831-24046f260e24.vsidx
/AVINYALIB/.vs/AVINYALIB/FileContentIndex/c1db60a8-8f99-45c8-a75a-ec3d2a67cd81.vsidx
/AVINYALIB/.vs/AVINYALIB/FileContentIndex/ea52e0bb-e020-4f14-a201-00d24c8d9bf9.vsidx
